:root {

	/* Theme-colors */

	--theme-color-sky					: #bdd0f1;

	--theme-color-sea					: #3b60a0;

	--theme-color-paper					: #f5f6f8;

	--theme-color-sky-lighter			: #eff3ff;

	/* App */

	--modular-scale						: 1.3;

	/* Base */

	--base-font-size					: 17px;
	--base-font-weight					: 450;
	--theme-color 						: var(--theme-color-sky);
	--selection-color					: var(--theme-color-sky);
	--mark-background					: var(--theme-color-paper);
	--base-line-height					: 1.7;

	/* Cover */

	--cover-heading-color				: var(--theme-color-sea);

	/* Markdown Content */

	--content-max-width					: 57em;

	--code-theme-background				: var(--theme-color-paper);
	--code-inline-background			: var(--theme-color-paper);
	--code-font-weight					: 450;
	--code-block-padding				: 1.0em 1.5em 0.75em 1.5em;

	--link-text-decoration				: ;
	--link-text-decoration--hover		: underline;
	--link-color						: var(--theme-color-sea);
	--link-color--hover					: var(--theme-color-sky);

	--blockquote-font-weight			: 450;
	--blockquote-em-font-weight			: 450;
	--blockquote-padding				: 0.35em;

	--heading-color						: var(--theme-color-sea);
	--heading-font-weight				: 600;
	--heading-h1-font-weight			: 700;
	--heading-h2-font-weight			: 700;
	--heading-margin                    : 2rem 0 0;
	--heading-h1-margin					: 2.5rem 0 0;
	--heading-h2-padding				: 0 0 0.2rem 0;

	/* Sidebar style */

	--sidebar-background				: var(--theme-color-paper);
	--sidebar-width						: 16em;
	--sidebar-border-color 				: var(--theme-color-sky);
	--sidebar-name-color				: var(--theme-color-sea);
	--sidebar-name-font-size			: 27px;
	--sidebar-name-font-weight			: 370;

	/* Styles of the plugins */

	--copycode-background				: var(--theme-color-sky-lighter);
	--copycode-color					: var(--theme-color-sea);

	/* Sidebar toggle */

	--sidebar-toggle-width				: 0px;
	--sidebar-toggle-icon-width			: 0px;

	/* Zoom image plugin */

	--zoomimage-overlay-background		: rgba(0, 0, 0, 0.4);

	/* Pagination plugin */

	--pagination-margin					: 3em 0 1em;
	--pagination-border-top				: 1.7px solid rgba(0, 0, 0, 0.07);

}
